.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
}

.navbar {
  min-width: 100vw;
  background-color: #535bf2;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.navbar-buttons {
    color: white;
    margin: 0 2rem;
}

.navbar-buttons:hover {
    color: white;
    border-bottom: 2px solid white;
}

.cat-img {
  max-width: 650px;
}
